<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Add Input / Output</h4>
        <p class="card-description">
          Specify the amount and type
        </p>

        <form [formGroup]="form" (ngSubmit)="save()">

          <div class="form-group">
            <label>Description</label>
            <input type="text"
                   class="form-control"
                   placeholder="Description"
                   formControlName="description"
                   name="description">
          </div>

          <div class="form-group">
            <label>Amount</label>
            <input type="number"
                   class="form-control"
                   placeholder="Amount"
                   formControlName="amount"
                   name="amount">
            <p>
              It must be a positive amount
            </p>
          </div>

          <div class="form-group">
            <label>Type</label>
            <br>
            <button type="button"
                    *ngIf="type === 'input'"
                    (click)="type = 'output'"
                    class="btn btn-primary btn-block">Input
            </button>
            <button type="button"
                    *ngIf="type === 'output'"
                    (click)="type = 'input'"
                    class="btn btn-warning btn-block">Output
            </button>
          </div>

          <hr>
          <button type="submit"
                  *ngIf="!loading"
                  [disabled]="form.invalid"
                  class="btn btn-success mr-2">
            <i class="fa fa-save"></i>
            Add
          </button>

          <button type="submit"
                  *ngIf="loading"
                  [disabled]="true"
                  class="btn btn-success mr-2">
            <i class="fa fa-spin fa-sync"></i>
            Adding
          </button>

          <!--
            <button disabled class="btn btn-success mr-2">
              <i class="fa fa-spin fa-sync"></i>
              Wait please...
            </button>
          -->

          <button type="reset" class="btn btn-light">Cancel</button>

        </form>
      </div>
    </div>
  </div>
</div>

